extends layout

block content

 .outer_wrapper
  .outer_wrapper
   h2 Hotels
    a(href="/all") (see all):

   .hotel
    .hotel_img
     a(href="")
      img(src="/images/hotels/hotel1.jpg")

    .hotel_info
     a(href='')
      h3 Hotel 1
     
     hr
     p Start rating: 4
     p Country: Jamaica
     p Cost per night: 56
    p more monie
    p one more day, sorry
    p another day


  